@import '~antd/dist/antd.css';

/* Hash Verifier Output Description Styles */
.aggregation-verifier-output-desc .ant-descriptions-view {
    overflow: auto;
}

.aggregation-verifier-output-desc .ant-descriptions {
    overflow: auto;
    word-break: normal;
}

.aggregation-verifier-output-desc .ant-descriptions-item-content {
    word-break: normal;
}

.aggregation-verifier-output-desc .ant-descriptions-item-label {
    word-break: normal;
}